.content {
  width: 768px;
  margin:0 auto;
}

.addTodo {
  
}

.todoBox {
  width: 100%;
  float: left;
  text-align: center;
}

.todoBox p {
  float: left;
}

.todoBox .buttonGroup {
  float: right;
}

/* Overrides */
.p-inputtext.p-error:focus, .p-inputtext.p-invalid:focus{
  border-color: #f44336 !important;
}